<%= form_with(model: post, local: false) do |form| %>
  <div class="mb-4">
    <%= form.label :title, class: "block text-sm font-bold mb-2" %>
    <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3" %>
  </div>
  
  <div class="mb-4">
    <%= form.label :content, class: "block text-sm font-bold mb-2" %>
    <%= form.text_area :content, class: "shadow appearance-none border rounded w-full py-2 px-3" %>
  </div>
  
  <div class="mb-4">
    <%= form.label :tag, class: "block text-sm font-bold mb-2" %>
    <%= form.text_field :tag, class: "shadow appearance-none border rounded w-full py-2 px-3" %>
  </div>

  <div class="mb-4">
    <%= form.label :published_on, class: "block text-sm font-bold mb-2" %>
    <%= form.date_field :published_on, class: "shadow appearance-none border rounded w-full py-2 px-3" %>
  </div>

  <%= form.submit class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>
